
.menus{
    display: flex;
    list-style: none;
}
.menus li{
    padding: 0 20px;
}
.navbar{
    display: flex;
    justify-content: center;
}
.menus li a{
    position: relative;
    color: #000;
    text-transform: uppercase;
    font-size: 18px;
}
.menus li a::after{
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.3s;
    background-color: #000;
}
.menus li a:hover::after{
    width: 100%;
}