<footer>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <h2 class="f-brand">{{logo}}</h2>
                <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, incidunt id cupiditate, explicabo suscipit qui ex minima fugiat neque est maxime voluptatem optio aliquam eius?</p>
            </div>
            <div class="col-2">
                <h4 class="f-head">Quick Links</h4>
                <ul class="f-menus">
                    <li><a href="javascript;void(0)">About Us</a></li>
                    <li><a href="javascript;void(0)">Prtfolio</a></li>
                    <li><a href="javascript;void(0)">Blogs</a></li>
                    <li><a href="javascript;void(0)">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-2">
                <h4 class="f-head">Menus</h4>
                <ul class="f-menus">
                    <li><a href="javascript;void(0)">Who we are</a></li>
                    <li><a href="javascript;void(0)">Privacy policy</a></li>
                    <li><a href="javascript;void(0)">Login / Register</a></li>
                    <li><a href="javascript;void(0)">Help?</a></li>
                </ul>
            </div>
            <div class="col4">
                <h4 class="f-head">News Letter</h4>
                <div class="f-news-main">
                    <input type="email" placeholder="Enter your Email" class="f-news-input" />
                    <a href="javascript:void(0);" class="f-news-btn">→</a>
                </div>
                <p class="desc">Thank you for visit us :)</p>
            </div>
        </div>
        <hr class="f-breaker">
        <div class="row f-copy">
            <p class="f-copy-text">© 2022-2023 All rights reserved by this site</p>
        </div>
    </div>
</footer>