<header>
    <div class="container">
        <div class="row">
            <div class="col-2">
                <h1 class="brand">{{logo}}</h1>
            </div>
            <div class="col-8">
                <nav class="navbar">
                    <app-main-menu></app-main-menu>
                </nav>
            </div>
            <div class="col-2">
                <a href="javacsript:void(0);" class="quote-btn">Get Quote <span>→</span></a>
            </div>
        </div>
    </div>
</header>